<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Select Buttons Example</title>
</head>
<body>

    <div class="flag-selection">
        <ul class="flags-list">
            <li>
                <button aria-label="Red" class="ynab-flag-pill" type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-red" width="16" height="10">
                        </svg>
                    </span>
                    
                    <span class="label ">Red</span>

                </button>
            </li>

            <li>
                <button aria-label="Orange" class="ynab-flag-pill  " type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-orange" width="16" height="10">
                        </svg>
                    </span>
          
                    <span class="label ">Orange</span>
                </button>
            </li>
        
            <li>
                <button aria-label="Yellow" class="ynab-flag-pill  " type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-yellow" width="16" height="10">
                        </svg>
                    </span>
          
                    <span class="label ">Yellow</span>
                </button>
            </li>

            <li>
                <button aria-label="Green" class="ynab-flag-pill  " type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-green" width="16" height="10">
                        </svg>
                    </span>
          
                    <span class="label ">Green</span>
                </button>
            </li>
        
            <li>
                <button aria-label="Blue" class="ynab-flag-pill  " type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-blue" width="16" height="10">
                        </svg>
                    </span>
          
                    <span class="label ">Blue</span>
                </button>
            </li>

            <li>
                <button aria-label="Purple" class="ynab-flag-pill  " type="button">
                    <span class="flag-pill-icon-container">
                        <svg class="ynab-new-icon flag-pill-icon-purple" width="16" height="10">
                        </svg>
                    </span>
                    
                    <span class="label ">Purple</span>
                </button>
      
            </li>

        </ul>
    </div>

</body>
</html>